/* dropdown menu */

.dropdown {
  user-select: none;
  position: relative;
}

.dropdown__selected {
  background-color: var(--additional-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: 50px;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-color);
  border: 2px solid transparent;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.dropdown__title {
  font-family: var(--font-additional);
  font-size: 18px;
  font-weight: 400;
  transition: color 0.2s ease-in-out;
}

.dropdown__selected:hover {
  background-color: transparent;
  border: 2px solid var(--additional-color);
}

.dropdown__icon {
  width: 14px;
  height: 9px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dropdown__selected:hover .dropdown__title {
  color: var(--additional-color);
}

.dropdown__selected:hover .dropdown__icon {
  color: var(--additional-color);
}

.dropdown__list {
  z-index: 100;
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  width: 100%;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  border: 2px solid var(--additional-color);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

.dropdown__item {
  cursor: pointer;
  height: 45px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-additional);
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
}

.dropdown__item:hover {
  background-color: var(--additional-color);
}

.dropdown__item.selected {
  background-color: var(--additional-color);
}

.dropdown.dropdown-open .dropdown__selected {
  background-color: transparent;
  border: 2px solid var(--additional-color);
}
.dropdown.dropdown-open .dropdown__title {
  color: var(--additional-color);
}

.dropdown.dropdown-open .dropdown__icon {
  transform: rotate(180deg);
  color: var(--additional-color);
}

.dropdown.dropdown-open .dropdown__list {
  visibility: visible;
}
