/* genre page */
@import "../../scss/mixins.scss";

.grid {
  &__info {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    z-index: 100;
  }
}

.info-send {
  max-width: 980px;
  width: 100%;
  padding: 50px;
  background-color: rgba(1, 22, 39, 80%);
  border-radius: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;

  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    border: 1px solid transparent;
    color: var(--text-color);
    @include adaptiveFont(20, 16);
  }

  &__description {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--text-color);
    @include adaptiveFont(16, 12);
  }
}

@media screen and (max-width: 700px) {
  .info {
    gap: 20px;
    padding: 30px;
  }
}
