<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">

<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    <title>Скидання паролю</title>
    <link
        href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
        rel="stylesheet" />
</head>

<body style="box-sizing: border-box;margin: 0;padding: 0;background-color: #222222;height: 100vh;">
    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="background-color: #222222;">
        <tr style="background-color: #2C2C2C;width: 100%;height: 70px;">
            <td colspan="3" style="width: 100%; padding: 0 25px;">
                <div
                    style="color: #ffffff;font-family: Nunito Sans, sans-serif;font-size: 22px;font-style: normal;font-weight: 600;line-height: 125%;">
                    MovieParty
                </div>
            </td>
        </tr>
        <tr style="box-sizing: border-box; width: 100%; height: 500px;">
            <td colspan="3" style="width: 100%; text-align: center; vertical-align: middle;">
                <div
                    style="padding: 0 25px;box-sizing: border-box; display: inline-block; max-width: 490px;  width: 100%;">
                    <div
                        style="box-sizing: border-box; padding: 0 23px; background-color: #2C2C2C; border-radius: 9px;">
                        <h1
                            style="padding: 45px 0 0 0; color: #ffffff; font-family: Nunito Sans, sans-serif; font-size: 23px; font-style: normal; font-weight: 800; line-height: 1.2; text-align: center;">
                            Пароль успішно змінено
                        </h1>
                        <h2 class="container__user"
                            style="padding: 6px 0; color: #E2E2E2; font-family: Nunito Sans; font-size: 18px; font-style: normal; font-weight: 600; line-height: 1.2; text-align: center;">
                            Привіт, {{name}}, ви успішно змінили пароль до вашого облікового запису
                        </h2>
                        <p class="container__text"
                            style="padding: 0 0 16px 0; color: #A3A3A3; text-align: center; font-family: Mulish; font-size: 14px; font-style: normal; font-weight: 400; line-height: 1.2;">
                            Якщо ви маєте питання зверніться в підтримку
                        </p>
                        <h1
                        style="padding: 0 0 45px 0; color: #E2E2E2; font-family: Nunito Sans; font-size: 18px; font-style: normal; font-weight: 600; line-height: 1.2; text-align: center;">
                        З повагою, <i>MovieParty Team</i>
                    </h1>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="box-sizing: border-box; width: 100%;">
            <td style="box-sizing: border-box; padding: 20px 25px 0 25px;">
                <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px solid #353535; padding: 20px 0 0 0;">
                    <tr style="width: 100%;">
                        <td style="width: 50%;">
                            <div
                                style="box-sizing: border-box;color: #ffffff;font-family: Nunito Sans, sans-serif;font-size: 22px;font-style: normal;font-weight: 600;line-height: 125%;">
                                MovieParty
                            </div>
                            <div
                                style="box-sizing: border-box;display: flex;flex-direction: column;">
                                <a href="https://web.telegram.org/" target="_blank"
                                    style="box-sizing: border-box;display: flex;text-decoration: none;color: #ffffff;font-family: Mulish;font-size: 15px;font-style: normal;font-weight: 600;line-height: 30px;text-align: center;background-color: #0088CC;border-radius: 23px;padding: 7px 15px;width: 176px;height: 42px;transition: all 250ms;margin: 8px 0;flex-direction: row;align-items: center;justify-content: center;gap: 4px;">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gans-random.appspot.com/o/icons%2Ftelegram.png?alt=media&token=6262378d-0f58-41d6-835d-ef824106c0cb"
                                        alt="Telegram" style="box-sizing: border-box;width: 22px;height: 22px;">
                                    Telegram
                                </a>
                                <a href="https://youtube.com/" target="_blank"
                                    style="box-sizing: border-box;display: flex;text-decoration: none;color: #ffffff;font-family: Mulish;font-size: 15px;font-style: normal;font-weight: 600;line-height: 30px;text-align: center;background-color: #dc143c;border-radius: 23px;padding: 7px 15px;width: 176px;height: 42px;transition: all 250ms;margin: 8px 0;flex-direction: row;align-items: center;justify-content: center;gap: 4px;">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/gans-random.appspot.com/o/icons%2Fyoutube.png?alt=media&token=03a2c7b8-d296-4eb1-9c74-63ae2cf86ffb"
                                        alt="YouTube" style="box-sizing: border-box;width: 22px;height: 22px;">
                                    YouTube
                                </a>
                            </div>
                        </td>
                        <td style="width: 50%;  vertical-align:top;">
                            <div style="box-sizing: border-box; float:right;">
                                <div
                                    style="box-sizing: border-box;color: #ffffff;font-family: Mulish;font-size: 20px;font-style: normal;font-weight: 600;line-height: 1.2;">
                                    Контакти
                                </div>
                                <a href="#"
                                    style="box-sizing: border-box;text-decoration: none;color: #9CBF4E;font-family: Mulish;font-size: 16px;font-style: normal;font-weight: 700;line-height: 125%;">movieparty.team@gmail.com</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="box-sizing: border-box; width: 100%;">
            <td>
                <div class="footer__right"
                    style="box-sizing: border-box;text-align: center;margin-top: 12px;color: #ffffff;font-family: Nunito Sans;font-size: 18px;font-style: normal;font-weight: 400;line-height: 1.2;">
                    2024 All right reserved
                </div>
            </td>
        </tr>
    </table>
</body>

</html>