@import "../../scss/mixins.scss";

.video-player {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 50px;

  &__display {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  &__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        #000 0%,
        rgba(0, 0, 0, 0.6) 12%,
        rgba(0, 0, 0, 0) 22%
      ),
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.6) 88%,
        #000
      );
  }

  &__controls {
    padding: 10px;
    position: relative;
    z-index: 900;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 30px 1fr auto 110px repeat(3, 30px);
    align-items: center;
    column-gap: 10px;
  }

  &__seek {
    display: flex;
    height: 100%;
    align-items: center;
    input {
      width: 100%;
    }
  }

  &__time {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    font-size: 14px;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__volume {
    display: flex;
    align-items: center;
    gap: 8px;

    &-seek {
      display: flex;
      align-items: center;
      input {
        width: 68px;
      }
    }
  }

  &__settings {
    position: relative;
    &-menu {
      position: absolute;
      bottom: 40px;
      right: 0px;
      background-color: rgb(254, 249, 238);
      padding: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      @include transition(width, height);
      gap: 4px;

      &-item {
        display: flex;
        padding: 8px;
        border-radius: 4px;
        align-items: center;
        gap: 15px;
        justify-content: space-between;
        @include transition(background-color);

        &:hover {
          background-color: var(--video-player-color);

          .video-player__settings-menu-title {
            color: #fff;
          }

          .arr-sls {
            &.lf {
              &::after {
                border-right: 5px solid var(--white);
              }
            }
            &::after {
              border-left: 5px solid var(--white);
            }
          }
        }
      }

      &-title {
        font-family: "Mulish", sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        white-space: nowrap;
        color: #8a8a8a;
        @include transition(color);
        display: flex;
        align-items: center;
        gap: 10px;

        &.ong {
          justify-content: stretch;
        }
      }

      &-nest-list {
        overflow: hidden;
        &-back {
          padding: 0 0 5px 0;
          border-bottom: 2px solid #e6e6e6;
          width: 100%;
          button {
            width: 100%;
          }
        }

        &-items {
          padding: 5px 0 0 0;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }

        &-item {
          padding: 8px;
          border-radius: 4px;
          @include transition(background-color);

          &:hover {
            background-color: var(--video-player-color);

            label {
              color: var(--white);
            }
          }
        }
      }
    }
    .arr-sls {
      position: relative;
      display: inline-block;
      padding-right: 10px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #8a8a8a;
        transform: translateY(-50%);
        @include transition(border-left);
      }

      &.lf {
        &::after {
          border-left: 0;
          border-right: 5px solid #8a8a8a;
        }
      }
    }
  }

  &__settings-button {
    .icon {
      transition: transform 0.5s ease-in-out;
    }
    &.anim {
      .icon {
        transform: rotate(135deg);
      }
    }
  }

  &__play {
    &-center {
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
    }
  }

  &__play,
  &__volume-button,
  &__settings-button,
  &__p-in-p,
  &__full-screen {
    min-width: 30px;
    min-height: 30px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 4px;
    @include transition(background-color);

    &:hover {
      background-color: #adadad80;
    }
  }

  &__volume-button {
    padding: 0 0 0 3px;
  }
}

.settings-radio {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;

  &-title {
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8a8a8a;
    @include transition(color);
    display: flex;
    align-items: center;
    gap: 10px;

    &.jc {
      justify-content: space-between;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #e9e9e9;
    border: 2px solid #e9e9e9;
    border-radius: 50%;
  }

  input:checked ~ .checkmark {
    border: 2px solid var(--video-player-color);
    background-color: var(--video-player-color);
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--white);
  }
}

.quality-mark {
  padding: 2px 4px;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;

  &.fhd {
    color: var(--white);
    background-color: #dc143c;
    -webkit-box-shadow: 0px 0px 12px 0px #dc143c;
    -moz-box-shadow: 0px 0px 12px 0px #dc143c;
    box-shadow: 0px 0px 12px 0px #dc143c;
  }

  &.hd {
    color: var(--white);
    background-color: #f95778;
    -webkit-box-shadow: 0px 0px 12px 0px #f95778;
    -moz-box-shadow: 0px 0px 12px 0px #f95778;
    box-shadow: 0px 0px 12px 0px #f95778;
  }

  &.sd {
    color: var(--white);
    background-color: #cecece;
    -webkit-box-shadow: 0px 0px 12px 0px #cecece;
    -moz-box-shadow: 0px 0px 12px 0px #cecece;
    box-shadow: 0px 0px 12px 0px #cecece;
  }
}

.seek-slider {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(
    var(--video-player-color),
    var(--video-player-color)
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  border-radius: 2px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  &.dark {
    background-image: linear-gradient(#6e6e6e, #6e6e6e);
  }

  &-container {
    width: 100%;
    position: relative;
  }
}

.slider {
  &-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    padding: 2px 5px;
    border-radius: 3px;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 12px;
    color: #000;
  }
}

@media screen and (max-width: 550px) {
  .video-player {
    grid-template-rows: 1fr auto;
    &__controls {
      grid-template-columns: 30px 1fr 110px repeat(3, 30px);
      grid-template-rows: 30px 30px 30px;
    }

    &__time {
      grid-column: 1 / 8;
      grid-row: 1 / 2;
      justify-content: space-between;

      &-split {
        display: none;
      }
    }

    &__seek {
      grid-column: 1 / 8;
      grid-row: 2 / 3;
    }

    &__volume {
      grid-row: 3 / 4;
      grid-column: 2 / 4;
      justify-self: end;
    }

    &__settings {
      &-menu {
        bottom: 90px;
        right: -90px;
      }
    }
  }
}
