.icon {
  display: inline-block;
  background-color: var(--white);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: background-color 0.2s ease-in-out;

  &.logo {
    height: 30px;
    width: 257px;
    background-size: 100%;
    background-position: 50% 50%;
    background: url("/src/assets/icons/logo.svg");
  }

  &.IMDb {
    height: 28px;
    width: 52px;
    background-size: 100%;
    background-position: 40% 40%;
    background: url("/src/assets/icons/IMDb.svg");
  }

  &.menu-burger {
    width: 35px;
    height: 35px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/menu-burger.svg");
  }

  &.location {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/location.svg");
  }

  &.phone {
    width: 28px;
    height: 28px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/phone.svg");
  }

  &.email {
    width: 24px;
    height: 34px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/email.svg");
  }

  &.arrow {
    width: 20px;
    height: 30px;
    background-color: var(--white);

    &.left {
      mask-image: url("/src/assets/icons/arrow-left.svg");
    }

    &.right {
      mask-image: url("/src/assets/icons/arrow-right.svg");
    }
  }

  &.add {
    width: 24px;
    height: 24px;
    mask-image: url("/src/assets/icons/add.svg");
  }

  &.watch {
    max-width: 16px;
    min-width: 16px;
    max-height: 19px;
    min-height: 19px;
    mask-image: url("/src/assets/icons/watch.svg");
  }

  &.favorite {
    width: 22px;
    height: 25px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/favorite.svg");
    &.fill {
      background-color: var(--light-yellow);
      mask-image: url("/src/assets/icons/favorite-fill.svg");
    }
  }

  &.success {
    width: 24px;
    height: 24px;
    background-color: var(--atlantis);
    mask-image: url("/src/assets/icons/success.svg");
  }

  &.like {
    width: 24px;
    height: 24px;
    background-color: var(--atlantis);
    mask-image: url("/src/assets/icons/like.svg");
  }

  &.dislike {
    width: 24px;
    height: 24px;
    background-color: var(--scarlet);
    mask-image: url("/src/assets/icons/dislike.svg");
  }

  &.star {
    width: 20px;
    height: 20px;
    background-color: var(--light-yellow);
    mask-image: url("/src/assets/icons/star.svg");

    &.outline {
      mask-image: url("/src/assets/icons/star-outline.svg");
    }

    &.half {
      mask-image: url("/src/assets/icons/star-half.svg");
    }
  }

  &.group-users {
    width: 24px;
    height: 24px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/group-users.svg");
  }

  &.find {
    width: 23px;
    height: 22px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/search.svg");
  }

  &.library {
    width: 38px;
    height: 38px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/library.svg");
  }

  &.convenient-use {
    width: 38px;
    height: 38px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/convenient-use.svg");
  }

  &.watch-together {
    width: 38px;
    height: 38px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/watch-together.svg");
  }

  &.plus {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/plus.svg");
  }

  &.google {
    max-width: 22px;
    min-width: 22px;
    max-height: 22px;
    min-height: 22px;
    background-size: 100%;
    background-position: 40% 40%;
    background: url("/src/assets/icons/google.svg");
  }

  &.eye.hidden {
    width: 28px;
    height: 28px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/hide.svg");
  }

  &.diamond {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/diamond.svg");
  }

  &.saved {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/saved.svg");
  }

  &.close {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/close.svg");
  }

  &.user {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/user.svg");
  }

  &.comment {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/comment.svg");
  }

  &.lock {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/lock.svg");
  }

  &.key {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/key.svg");
  }

  &.present {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/present.svg");
  }

  &.exit {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/exit.svg");
  }

  &.shift {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/shift.svg");
  }

  &.profile-menu {
    width: 30px;
    height: 30px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/profile-menu.svg");
  }

  &.edit {
    width: 35px;
    height: 35px;
    background-color: var(--light-yellow);
    mask-image: url("/src/assets/icons/edit.svg");
  }

  &.delete {
    width: 35px;
    height: 35px;
    background-color: var(--scarlet);
    mask-image: url("/src/assets/icons/delete.svg");
  }

  &.earth {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/earth.svg");
  }

  &.action {
    width: 24px;
    height: 6px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/action.svg");
  }

  &.eda {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/edit-action.svg");
  }

  &.rma {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/remove-action.svg");
  }

  &.sort {
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/sort.svg");

    &.up {
      mask-image: url("/src/assets/icons/sort-up.svg");
    }

    &.down {
      mask-image: url("/src/assets/icons/sort-down.svg");
    }
  }

  &.layers {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/layers.svg");
  }

  &.genre {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/genre.svg");
  }

  &.best-list {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/best-list.svg");
  }

  &.ps {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/parts.svg");
  }

  &.slct {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/slct.svg");
  }

  &.actors {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/actors.svg");
  }

  &.directors {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/directors.svg");
  }

  &.video-content {
    width: 28px;
    height: 28px;
    background-color: var(--text-color);
    mask-image: url("/src/assets/icons/video-content.svg");
  }

  &.play {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/play.svg");
    &.big {
      width: 75px;
      height: 75px;
    }
  }

  &.pause {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/pause.svg");
  }

  &.volume {
    width: 24px;
    height: 24px;
    background-color: var(--white);
    &.v-100 {
      mask-image: url("/src/assets/icons/volume-100.svg");
    }
    &.v-50 {
      mask-image: url("/src/assets/icons/volume-50.svg");
    }
    &.v-25 {
      mask-image: url("/src/assets/icons/volume-25.svg");
    }
    &.v-mute {
      mask-image: url("/src/assets/icons/volume-mute.svg");
    }
  }

  &.settings {
    width: 28px;
    height: 28px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/settings.svg");
  }

  &.p-in-p {
    width: 24px;
    height: 24px;
    background-color: var(--white);

    &.exit {
      mask-image: url("/src/assets/icons/p-in-p-exit.svg");
    }

    &.inner {
      mask-image: url("/src/assets/icons/p-in-p-inner.svg");
    }
  }

  &.full-screen {
    width: 24px;
    height: 24px;
    background-color: var(--white);

    &.on {
      mask-image: url("/src/assets/icons/full-screen-on.svg");
    }

    &.off {
      mask-image: url("/src/assets/icons/full-screen-off.svg");
    }
  }

  &.camera {
    width: 24px;
    height: 24px;
    background-color: var(--white);
    mask-image: url("/src/assets/icons/camera.svg");
  }
}

/* responsive icons */

@media (max-width: 767px) {
  .icon.logo {
    height: calc(18px + 14 * ((100vw - 320px) / 1440));
    width: calc(165px + 128.8 * ((100vw - 320px) / 1440));
    background-size: 100%;
    background-position: 40% 40%;
  }
}

@media (min-width: 767px) {
  .icon.logo {
    width: calc(165px + 92 * (100vw / 1440));
    height: calc(18px + 10 * (100vw / 1440));
    background-size: 100%;
    background-position: 40% 40%;
  }
}
