@import "./null.scss";
@import "./mixins.scss";
@import "./variables.scss";
@import "./icons.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: var(--main-color);
  color: var(--text-color);

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--mine-shaft);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 30px;
    border: 3px solid var(--mine-shaft);

    &:hover {
      background-color: rgb(250, 192, 20, 80%);
    }
  }
}

/* shared classes */

.container {
  width: 100%;

  .w100v {
    width: 100vw;
  }

  .h100 {
    height: 100%;
  }

  .h100v {
    height: 100vh;
  }
}

.hidden {
  display: none;
}

/* wrapper */

.wrapper {
  padding: 0 var(--safe-zone-content);
  max-width: var(--max-width-content);
  margin: 0 auto;

  &.h100 {
    height: 100%;
  }

  &.w100v {
    width: 100vw;
  }

  &.h100 {
    height: 100%;
  }

  &.h100v {
    height: 100vh;
  }

  &.sm {
    max-width: var(--small-width-content);
    margin: 0 auto;
  }
}

/* overflow content */

.overflow-content {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(250, 192, 20, 35%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 10px;

    &:hover {
      background-color: rgb(250, 192, 20, 80%);
    }
  }
}

/* button */

.button {
  max-height: 45px;
  min-height: 35px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 4px;
  background-color: var(--light-yellow);
  color: var(--main-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border: 1px solid transparent;

  @include adaptiveFont(16, 14);
  @include transition(background-color, color, border);

  &.primary {
    background-color: var(--light-yellow);
    color: var(--main-color);
  }

  &.additional {
    background-color: var(--lochmara);
    color: var(--text-color);
  }

  &.success {
    background-color: var(--atlantis);
    color: var(--main-color);
  }

  &.danger {
    background-color: var(--scarlet);
    color: var(--text-color);

    &:hover {
      background-color: transparent;
      color: var(--scarlet);
      border: 1px solid var(--scarlet);
    }
  }

  &.transparent {
    background-color: transparent;
    color: var(--text-color);
  }

  &.light.outline {
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);

    &:hover {
      background-color: transparent;
    }
  }

  &.remove.rounded {
    min-height: 0;
    min-width: 0;
    font-size: 0;
    padding: 4px;
    border: 1px solid transparent;
    background-color: rgba(83, 83, 83, 0.7);
    border-radius: 50%;

    .icon.close {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: rgba(60, 60, 60, 0.7);
    }
  }

  &.primary:hover {
    background-color: transparent;
    color: var(--light-yellow);
    border: 1px solid var(--light-yellow);
  }

  &.additional:hover {
    background-color: transparent;
    color: var(--lochmara);
    border: 1px solid var(--lochmara);
  }

  &.success:hover {
    background-color: transparent;
    color: var(--atlantis);
    border: 1px solid var(--atlantis);
  }

  &.transparent:hover {
    background-color: var(--lochmara);
    color: var(--text-color);
    border: 1px solid transparent;
  }

  &:hover {
    background-color: transparent;
    color: var(--light-yellow);
    border: 1px solid var(--light-yellow);
  }

  &.fill {
    width: 100%;
  }

  &.gray {
    background: rgba(250, 250, 255, 25%);

    &:hover {
      background: rgba(250, 250, 255, 15%);
      border: 1px solid transparent;
    }
  }

  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &.i {
      padding: 0;
    }

    &.t {
      background-color: transparent;

      &:hover {
        background-color: transparent;
        border: 1px solid transparent;

        > div {
          background-color: var(--light-yellow);
        }
      }
    }

    &.gray {
      .icon,
      &:hover .icon {
        background-color: transparent;
      }
    }

    &.white {
      .icon {
        background-color: var(--text-color);
      }
    }

    &.g8 {
      gap: 8px;
    }

    > div {
      background-color: var(--text-color);
    }

    &.t-icon {
      .icon {
        background-color: var(--main-color);
      }

      &:hover {
        .icon {
          background-color: var(--light-yellow);
        }
      }
    }

    &:disabled {
      cursor: auto;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid transparent;
        .icon {
          &.like {
            background-color: var(--atlantis);
          }
          &.dislike {
            background-color: var(--scarlet);
          }
        }
      }
    }
  }

  &:disabled {
    background-color: var(--disabled-background);
    border: 1px solid var(--disabled-color);
    color: var(--disabled-color);

    &:hover {
      background-color: var(--disabled-background);
      border: 1px solid var(--disabled-color);
      color: var(--disabled-color);
    }
  }
}

/* splitter */

.splitter {
  background-color: var(--splitter-color);
  height: 10px;
}

/* flex */

.flex {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.column {
    flex-direction: row;
  }

  &.r {
    flex-direction: row;
  }

  &.sb {
    justify-content: space-between;
  }

  &.ch {
    align-items: center;
  }

  &.center-v {
    justify-content: center;
  }

  &.center-h {
    align-items: center;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.g5 {
    gap: 5px;
  }

  &.g10 {
    gap: 10px;
  }
}

/* grid */

.grid {
  &__main {
    display: grid;
    grid-template-rows: 70px 1fr;
  }

  &__form {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    z-index: 100;
  }

  &__background {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    z-index: -999;

    img {
      width: 100%;
      height: 1000px;
      object-fit: cover;
      object-position: bottom;
    }
  }
}

/* form */

.form {
  &__wrapper {
    max-width: 430px;
    width: 100%;
    padding: 50px;
    background-color: rgba(1, 22, 39, 80%);
    border-radius: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    @include adaptiveFont(30, 24);
  }

  &__description {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    text-align: center;
    @include adaptiveFont(18, 16);
  }

  &__items {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__item {
    width: 100%;

    &.label {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &-label {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--boulder);
      @include adaptiveFont(18, 16);
    }

    &.fg {
      grid-column: 1 / 3;
    }
  }

  &__text {
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    @include adaptiveFont(16, 14);

    span {
      display: inline-block;
      color: var(--silver-chalice);
    }

    a {
      margin-top: 4px;
      color: var(--text-color);
    }
  }

  &__input {
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--silver-chalice);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    @include adaptiveFont(16, 14);

    &::placeholder,
    &::-ms-input-placeholder {
      color: var(--silver-chalice);
    }

    &__icon {
      padding: 10px 15px;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      background-color: transparent;
      border: 2px solid var(--silver-chalice);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      input {
        width: 100%;
        background-color: transparent;
        color: var(--text-color);
        font-family: "Nunito Sans", sans-serif;
        font-weight: 500;
        @include adaptiveFont(16, 14);

        &::placeholder,
        &::-ms-input-placeholder {
          color: var(--silver-chalice);
        }
      }

      &.g8 {
        gap: 8px;
      }
    }

    &.linear {
      background-image: linear-gradient(
        to right,
        rgb(0, 114, 187, 0.7),
        rgb(0, 52, 85, 0.7)
      );
      border: none;

      &:focus {
        outline: 2px solid var(--lochmara);
      }

      &::placeholder {
        color: #d8d8d8;
      }

      &.fi {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          padding: 0;
          border: 1px solid transparent;

          &::placeholder {
            color: #d8d8d8;
          }
        }

        .icon.add:hover {
          background-color: var(--light-yellow);
        }
      }
    }

    &.auto-content {
      width: min-content;
      min-width: 0;
    }
  }

  &__textarea {
    padding: 10px 10px;
    width: 100%;
    min-height: 120px;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--silver-chalice);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    @include adaptiveFont(16, 14);

    &.linear {
      background-image: linear-gradient(
        to right,
        rgb(0, 114, 187, 0.7),
        rgb(0, 52, 85, 0.7)
      );
      border: none;

      &:focus {
        outline: 2px solid var(--lochmara);
      }
    }
  }

  &__radio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 20px;
    background-color: rgba(0, 114, 187, 0.4);

    &-item {
      display: flex;
      &-elem {
        display: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        &:checked + .form__radio-list-item-title {
          background-color: var(--lochmara);
        }
      }

      &-title {
        cursor: pointer;
        padding: 5px 15px;
        border-radius: 30px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito Sans", sans-serif;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        @include adaptiveFont(16, 14);
        @include transition(background-color);
        color: var(--text-color);
      }
    }
  }

  &__button {
    &-add {
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      background-color: var(--light-yellow);
      border-radius: 50%;

      .icon.plus.rounded {
        width: 12px;
        height: 12px;
        background-color: var(--midnight);
      }
    }
  }
}

.message {
  display: inline-block;
  margin: 10px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: var(--text-color);
  @include adaptiveFont(14, 12);

  &.success {
    color: var(--atlantis);
  }

  &.error {
    color: var(--scarlet);
  }
}

/* dropdown menu */

.dropdown {
  user-select: none;
  position: relative;

  &__selected {
    cursor: pointer;
    padding: 8px 15px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--dropdown-color);
    color: var(--text-color);
    border: 2px solid transparent;
    border-radius: 10px;
    @include transition(background-color, border);
  }

  &__title {
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-weight: 400;
    @include adaptiveFont(18, 14);
    @include transition(color);
  }

  &__selected:hover {
    background-color: transparent;
    border: 2px solid var(--dropdown-color);

    .dropdown__title {
      color: var(--dropdown-color);
    }

    .icon.dd {
      background-color: var(--dropdown-color);
    }
  }

  &__icon {
    width: 14px;
    height: 9px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon.dd {
      background-color: var(--white);
      @include transition(background-color);
    }
    @include transition(transform);
  }

  &__list {
    position: absolute;
    top: calc(100% + 16px);
    max-height: 320px;

    left: 0;
    z-index: 100;
    width: 100%;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    border: 2px solid var(--dropdown-color);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-color);
      border-radius: 10px;
      background-clip: content-box;
      border: 5px solid transparent;

      &:hover {
        background-color: rgb(250, 192, 20, 80%);
      }
    }
  }

  &__search {
    position: absolute;
    top: calc(100% + 16px);
    max-height: 220px;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--dropdown-color);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;

    &-items {
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow: auto;
      padding: 0 8px 0 0;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--scroll-color);
        border-radius: 10px;
        background-clip: content-box;
        border: 2px solid transparent;

        &:hover {
          background-color: rgb(250, 192, 20, 80%);
        }
      }
    }

    &-input {
      max-height: 42px;
      border: none;
      background-color: rgba(0, 114, 187, 0.5);

      &::placeholder {
        color: #d8d8d8;
      }
    }
  }

  &__item {
    cursor: pointer;
    width: 100%;
    min-height: 45px;
    height: 45px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Mulish", sans-serif;
    border-radius: 5px;
    @include adaptiveFont(14, 12);
    @include transition(color);

    &:hover,
    &.selected {
      background-color: var(--dropdown-color);
    }
  }
  &.dropdown-open {
    .dropdown__selected {
      background-color: transparent;
      border: 2px solid var(--dropdown-color);
    }

    .dropdown__title {
      color: var(--dropdown-color);
    }

    .dropdown__icon {
      transform: rotate(180deg);
    }

    .dropdown__list,
    .dropdown__search {
      visibility: visible;
    }
  }

  &.linear {
    .dropdown__selected {
      background-image: linear-gradient(
        to right,
        rgb(0, 114, 187, 0.7),
        rgb(0, 52, 85, 0.7)
      );
      background-color: transparent;
      border: none;

      .dropdown__title,
      .dropdown__icon {
        color: var(--text-color);
      }

      &:focus {
        outline: 2px solid var(--lochmara);
      }

      &:hover {
        .dropdown__title {
          color: var(--text-color);
        }

        .icon.dd {
          background-color: var(--text-color);
        }
      }
    }
  }

  &.fill {
    width: 100%;

    .dropdown__selected {
      justify-content: space-between;
    }
  }
}

/* filter */

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  position: relative;
}

.filter__items {
  padding: 0 0 5px 0;
  display: flex;
  align-items: center;
  gap: 22px;
}

.filter__item {
  button {
    background-color: transparent;
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--filter-color);
    text-transform: uppercase;
    @include adaptiveFont(16, 14);
    @include adaptiveHeight(33.33, 29.16);
    @include transition(color, font-size);

    &:hover {
      text-shadow: 0 0 5px var(--filter-color);
    }
  }

  &.active button {
    font-size: 24px;
    font-weight: 700;
    text-shadow: none;
    color: var(--text-color);
    @include adaptiveFont(22, 20);
  }
}

/* sort */

.sort {
  display: block;

  &__items {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &-item {
    user-select: none;
    width: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;

    > .icon.sort {
      @include transition(background-color);
    }

    &:hover {
      > .icon.sort {
        background-color: var(--light-yellow);
      }
    }
  }
}

.w {
  &300 {
    width: 300px;
  }
  &230 {
    width: 230px;
  }
}

/* content card */

.content {
  &__cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(
      6,
      minmax(var(--min-width-card), var(--max-width-card))
    );
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__card {
    max-width: 205px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-image {
      position: relative;
      min-height: 300px;
      padding: 0 0 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &-title {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--text-color);
      @include adaptiveFont(18, 16);
    }

    &:hover {
      .content__card-title {
        text-decoration: underline;
      }
    }
  }
}

/* pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__container {
    margin: 15px 0;
  }

  &__action {
    cursor: pointer;
    font-size: 0;

    &.transparent {
      cursor: auto;

      .icon.arrow {
        background-color: transparent;
      }
    }
    .icon.arrow {
      &:hover {
        background-color: var(--light-yellow);
      }
    }
  }

  &__icon {
    height: 24px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__item {
    user-select: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pagination-color);
    border-radius: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    @include adaptiveFont(18, 16);
    @include transition(background-color);

    &.current {
      background-color: var(--pagination-color-active);
    }

    &:hover {
      background-color: var(--pagination-color-active);
    }

    &.skip {
      background-color: transparent;
      cursor: auto;
    }
  }
}

/* side-nav */

.side-nav {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-x: hidden;
  background-color: var(--main-color);
  @include transition(width);

  &__content {
    padding: 20px;
  }

  &.side-nav-open {
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      background-color: transparent;
      font-size: 0;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__avatar {
    font-size: 0;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__username {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  &__menu {
    margin: 15px 0 0 0;
  }
}

.nav-menu {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    @include transition(background-color);

    &:hover {
      background-color: var(--nav-menu-color);
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
  }

  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}

/* action menu */

.action-menu {
  &__button {
    background: transparent;
  }
  &__container {
    position: relative;
  }
  &__items {
    display: none;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 100;
    padding: 6px 4px;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    border: 2px solid var(--dropdown-color);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    padding: 4px 6px;
    border-radius: 5px;
    @include transition(background-color);

    &:hover {
      background-color: var(--lochmara);
    }
  }

  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    @include adaptiveFont(14, 12);
    color: var(--text-color);
  }

  &.active {
    .action-menu__items {
      display: flex;
    }
  }
}

/* profile */

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  &-user {
    padding: 25px 0 50px 0;
    display: grid;
    grid-template-columns: minmax(auto, 260px) 4fr;
    column-gap: 30px;
    align-items: start;

    &-side {
      padding: 20px 20px 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;
      position: sticky;
      top: 0;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .profile-menu {
        display: none;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    &-avatar {
      font-size: 0;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-nickname {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--text-color);
      @include adaptiveFont(20, 18);
    }

    &-role {
      padding: 0 2px;
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--silver-chalice);
      @include adaptiveFont(18, 16);
    }

    &-email {
      font-family: "Mulish", sans-serif;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--silver-chalice);
      @include adaptiveFont(18, 14);
    }

    &-menu {
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;

      &-title {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--text-color);
        @include adaptiveFont(28, 24);
      }

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

        &-title {
          font-family: "Nunito Sans", sans-serif;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: var(--text-color);
          @include adaptiveFont(22, 20);
        }
      }
    }
  }

  &-menu {
    width: 100%;

    &-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-item {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 10px;
      background-color: transparent;
      @include transition(background-color);

      &:hover,
      &.active {
        background-color: var(--lochmara);
      }

      &-icon {
        font-size: 0;
      }

      &-title {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--text-color);
        @include adaptiveFont(18, 14);
      }
    }
  }
}

/* preview image */

.preview-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &:hover {
      .preview-image__name {
        color: var(--light-yellow);
      }
    }
  }

  & img {
    &.crs {
      width: 60px;
      height: 55px;
    }

    &.prs {
      max-width: 225px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.7);
    border-radius: 50%;
    @include transition(background-color);

    &:hover {
      background-color: rgba(54, 54, 54, 1);
    }
  }

  &__name {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--text-color);
    @include adaptiveFont(16, 14);
    @include transition(color);
  }
}

/* loaders */

.loader {
  border: 6px solid var(--loader-background);
  border-top: 6px solid var(--loader-slider);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-skeleton {
  background-color: #022d47;
  border-radius: 5px;
  animation: pulse 1.5s infinite ease-in-out;
  color: transparent;

  &.type-content {
    &-all {
      width: 44px;
      height: 39px;
    }
    &-item {
      width: 117px;
      height: 39px;
    }
  }

  &.sort-content {
    height: 50px;
  }

  &.card-image {
    height: 300px;
  }

  &.card-title {
    height: 48px;
  }

  &.info-title {
    @include adaptiveHeight(25, 22);
  }

  &.info-desc {
    @include adaptiveHeight(27, 24);
  }

  &.user-comment {
    height: 165px;
  }

  &.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  &.profile-nickname {
    width: 100%;
    @include adaptiveHeight(28, 24);
  }

  &.profile-email {
    width: 100%;
    @include adaptiveHeight(24, 20);
  }

  &:hover {
  }
}

.fake-skeleton {
  background-color: transparent;
  &.favorite-image {
    height: 300px;
  }

  &.favorite-title {
    height: 48px;
  }
}

@keyframes pulse {
  0% {
    background-color: #03324e;
  }
  50% {
    background-color: #022d47;
  }
  100% {
    background-color: #03324e;
  }
}

/* application */

.app {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  grid-template-columns: minmax(0, auto);

  > {
    .hdr {
      grid-row: 1 / 2;
      z-index: 999;
      grid-column: 1 / 2;
    }

    .cnt-mn {
      grid-row: 2 / 3;
      grid-column: 1 / 2;

      &.full {
        height: 100%;
      }
    }

    .overlay-cnt-mn {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    .ftr {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  }
}

/* comments */

.comment {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgba(0, 114, 187, 0.4),
    rgba(0, 52, 85, 0.4)
  );

  &-content {
    &-image img {
      max-width: 110px;
      max-height: 132px;
      object-fit: cover;
    }

    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;
    }

    &-owner {
      width: 100%;
      display: grid;
      grid-template-columns: auto 24px auto 24px 1fr auto auto;
      align-items: center;
      column-gap: 10px;
    }

    &-user {
      display: flex;
      align-items: center;
      gap: 6px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      &-nickname {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: var(--text-color);
        @include adaptiveFont(18, 16);
      }
    }

    &-date {
      font-family: "Nunito Sans", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: var(--text-color);
      @include adaptiveFont(16, 14);
    }

    &-ref {
      font-family: "Nunito Sans", sans-serif;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: var(--text-color);
      @include transition(color);
      @include adaptiveFont(16, 14);

      &:hover {
        color: var(--light-yellow);
      }
    }

    &-message {
      font-family: "Mulish", sans-serif;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--text-color);
      @include adaptiveFont(16, 14);
    }
  }

  &-edit,
  &-delete {
    font-size: 0;
    background: transparent;
  }

  &-reactions {
    display: flex;
    gap: 25px;

    &-count {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      @include adaptiveFont(15, 13);
    }
  }
  &__likes,
  &__dislikes {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__likes .icon.like,
  &__dislikes .icon.dislike {
    width: 25px;
    height: 22px;
  }

  &__likes {
    color: var(--atlantis);
  }

  &__dislikes {
    color: var(--scarlet);
  }

  &__likes .icon.like {
    background-color: var(--atlantis);
  }

  &__dislikes .icon.dislike {
    background-color: var(--scarlet);
  }
}

/* view */

.view {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &-filters {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-items {
    display: grid;
    grid-auto-rows: 1fr;
  }

  &-row {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;

    &.skeleton {
      .view-col {
        height: max-content;
        &::after {
          content: "";
          display: none;
        }
      }
    }
  }

  .head {
    .view-col {
      padding: 10px 0;
      font-family: "Mulish", sans-serif;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--silver-chalice);
      @include adaptiveFont(18, 14);

      &::after {
        content: "";
        display: none;
      }
    }
  }

  &-col {
    height: 100%;
    position: relative;
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    @include adaptiveFont(18, 14);

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--boulder);
    }
  }

  &-col:last-child {
    justify-content: center;
    height: 100%;
  }
}

/* person */

.person__form {
  display: flex;
  gap: 20px;
  align-items: start;

  &-info {
    max-width: 320px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 114, 187, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &-photo {
    max-width: 225px;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-content-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--text-color);
    @include adaptiveFont(22, 18);
  }
}

/* search-list */

.search-list {
  position: relative;

  .search-list__items {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    z-index: 900;
    width: 100%;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid var(--dropdown-color);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    max-height: 275px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll-color);
      border-radius: 10px;
      background-clip: content-box;
      border: 5px solid transparent;

      &:hover {
        background-color: rgb(250, 192, 20, 80%);
      }
    }
  }

  &__item {
    user-select: none;
    padding: 10px 5px;
    cursor: pointer;
  }
}

/* checkbox */

.checkbox {
  display: flex;
  align-items: center;
  &__container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20px;
    width: 20px;

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: rgba(0, 114, 187, 0.8);
      border-radius: 5px;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }

      &:after {
        left: 8px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid var(--light-yellow);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        &:after {
          display: block;
        }
      }
    }
  }
}

/* info */
.info {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__image {
    img {
      width: 100%;
      max-height: 400px;
    }
  }

  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    @include adaptiveFont(22, 18);
  }

  &__description {
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    @include adaptiveFont(18, 16);
    color: #aaa;
  }
}

.avatar {
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  overflow: hidden;

  img,
  &__letter {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    @include adaptiveFont(16, 14);
    color: var(--white);
  }

  button {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #000;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

/* responsive */

@media screen and (max-width: 1350px) {
  .content__cards {
    grid-template-columns: repeat(
      5,
      minmax(var(--min-width-card), var(--max-width-card))
    );
    justify-content: center;
  }
}

@media screen and (max-width: 1125px) {
  .content__cards {
    grid-template-columns: repeat(
      4,
      minmax(var(--min-width-card), var(--max-width-card))
    );
  }
}

@media screen and (max-width: 1060px) {
  .icon {
    &.shift:last-of-type {
      display: none;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }

  .comment {
    &-content {
      &-owner {
        grid-template-columns: auto 24px 1fr auto auto;
        row-gap: 10px;
      }

      &-ref {
        grid-row: 2 / 3;
        grid-column: 1 / 7;
      }

      &-image img {
        max-height: 200px;
        max-width: 120px;
      }
    }
  }
}

/* trailer pop up */

.trailer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;

  &__container {
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    background-color: var(--midnight);
    border-radius: 5px;
  }

  &__content {
    padding: 4px;
    width: 100%;
    height: 100%;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 114, 187, 0.6);
    padding: 4px;
    border-radius: 0 5px 0 0;
    @include transition(background-color);

    &:hover {
      background-color: rgba(0, 114, 187, 0.8);
    }
  }
}

@media screen and (max-width: 900px) {
  .content__cards {
    grid-template-columns: repeat(
      3,
      minmax(var(--min-width-card), var(--max-width-card))
    );
  }

  .comment {
    &-content {
      &-image {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .filter {
    flex-direction: column;
    gap: 15px;
  }

  .dropdown__list {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .dropdown {
    width: 100%;
  }

  .dropdown__selected {
    justify-content: space-between;
    gap: 0;
  }

  .sort__items {
    width: 100%;
    flex-direction: column;
  }

  .sort__item {
    width: 100%;
  }

  .form__wrapper {
    padding: 30px;
  }

  .profile {
    &-user {
      grid-template-columns: 1fr;

      &-avatar img {
        width: 75px;
        height: 75px;
      }

      &-side {
        padding: 20px 0;
        position: static;
        top: 0;
      }

      &-info {
        width: 100%;
        > .profile-menu {
          display: inline-block;
        }
      }

      &-details {
        flex-direction: row;
      }

      &-email {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .side-nav {
    visibility: visible;
  }
}

@media screen and (max-width: 715px) {
  .overflow-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .filter__items {
    justify-content: start;
    justify-content: flex-start;
  }

  .content__cards {
    grid-template-columns: repeat(
      2,
      minmax(var(--min-width-card), var(--max-width-card))
    );
  }
}

@media screen and (max-width: 500px) {
  .grid__background img {
    height: 700px;
  }
}

@media screen and (max-width: 425px) {
  .flex.row {
    flex-direction: column;
  }

  .icon {
    &.shift {
      display: none;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }

  .comment {
    &-content {
      &-owner {
        grid-template-columns: auto 1fr auto auto;
        row-gap: 10px;
      }

      &-ref {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .view {
    &-actions {
      flex-direction: column-reverse;
      align-items: start;

      > .button {
        width: 100%;
      }

      > .view-filters,
      .form {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .person__form {
    flex-direction: column;

    &-info {
      max-width: none;
    }
  }
}

/* person add */

@media screen and (max-width: 1100px) {
  .person__form {
    .form {
      &__grid {
        grid-template-columns: 1fr;
      }

      &__item {
        &.fg {
          grid-column: 1 / 2;
        }
      }
    }
  }
}
