.icon {
  display: inline-block;
  background-color: var(--text-color);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: background-color 0.2s ease-in-out;
}

.icon.logo {
  height: 30px;
  width: 257px;
  background-size: 100%;
  background-position: 50% 50%;
  background: url("../assets/icons/logo.svg");
}

.icon.imdb {
  height: 28px;
  width: 52px;
  background-size: 100%;
  background-position: 40% 40%;
  background: url("../assets/icons/IMDb.svg");
}

.icon.menu-burger {
  width: 35px;
  height: 35px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/menu-burger.svg");
}

.icon.location {
  width: 20px;
  height: 20px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/location.svg");
}

.icon.phone {
  width: 28px;
  height: 28px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/phone.svg");
}

.icon.email {
  width: 24px;
  height: 34px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/email.svg");
}
.icon.arrow {
  width: 20px;
  height: 30px;
  background-color: var(--text-color);
}
.icon.arrow.left {
  mask-image: url("../assets/icons/arrow-left.svg");
}

.icon.arrow.right {
  mask-image: url("../assets/icons/arrow-right.svg");
}

.icon.add {
  width: 24px;
  height: 24px;
  mask-image: url("../assets/icons/add.svg");
}

.icon.watch {
  max-width: 16px;
  min-width: 16px;
  max-height: 19px;
  min-height: 19px;
  mask-image: url("../assets/icons/watch.svg");
}

.icon.favorite {
  width: 14px;
  height: 17px;
  mask-image: url("../assets/icons/favorite.svg");
}

.icon.success {
  width: 24px;
  height: 24px;
  background-color: var(--success-color);
  mask-image: url("../assets/icons/success.svg");
}

.icon.like {
  width: 24px;
  height: 24px;
  background-color: var(--success-color);
  mask-image: url("../assets/icons/like.svg");
}

.icon.dislike {
  width: 24px;
  height: 24px;
  background-color: var(--danger-color);
  mask-image: url("../assets/icons/dislike.svg");
}

.icon.star {
  width: 20px;
  height: 20px;
  background-color: var(--alternative-color);
  mask-image: url("../assets/icons/star.svg");
}

.icon.star.outline {
  mask-image: url("../assets/icons/star-outline.svg");
}

.icon.group-users {
  width: 24px;
  height: 24px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/group-users.svg");
}

.icon.find {
  width: 23px;
  height: 22px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/search.svg");
}

.icon.library {
  width: 38px;
  height: 38px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/library.svg");
}

.icon.convenient-use {
  width: 38px;
  height: 38px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/convenient-use.svg");
}
.icon.watch-together {
  width: 38px;
  height: 38px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/watch-together.svg");
}

.icon.plus {
  width: 30px;
  height: 30px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/plus.svg");
}
.icon.google {
  max-width: 22px;
  min-width: 22px;
  max-height: 22px;
  min-height: 22px;
  background-size: 100%;
  background-position: 40% 40%;
  background: url("../assets/icons/google.svg");
}
.icon.eye.hidden {
  width: 28px;
  height: 28px;
  background-color: var(--text-color);
  mask-image: url("../assets/icons/hide.svg");
}

/* responsive */
@media (max-width: 767px) {
  .icon.logo {
    height: calc(18px + 14 * ((100vw - 320px) / 1440));
    width: calc(165px + 128.8 * ((100vw - 320px) / 1440));
    background-size: 100%;
    background-position: 40% 40%;
  }
}

@media (min-width: 767px) {
  .icon.logo {
    width: calc(165px + 92 * (100vw / 1440));
    height: calc(18px + 10 * (100vw / 1440));
    background-size: 100%;
    background-position: 40% 40%;
  }
}
