@import url("./null.css");
@import url("./icons.css");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* variables */
:root {
  --main-color: #011627;
  --success-color: #9bc53d;
  --danger-color: #e3170a;
  --alternative-color: #fac014;
  --additional-color: #0072bb;
  --additional-color-1: #363636;
  --additional-color-2: #4a4a4a;
  --additional-color-3: #aaaaaa;
  --additional-color-4: #e3170a;
  --text-color: #ffffff;
  --text-color-alternative: #7d7d7d;
  --text-color-1: #a3a3a3;
  --font-main-path: "../../fonts/NunitoSans.ttf";
  --font-additional-path: "../../fonts/Mulish.ttf";
  --font-main: "Nunito Sans", sans-serif;
  --font-additional: "Mulish", sans-serif;
  --horizontal-wrapper-padding: 20px;
  --min-width-card: 140px;
  --max-width-card: 205px;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: var(--additional-color-1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--alternative-color);
  border-radius: 30px;
  border: 3px solid var(--additional-color-1);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(250, 192, 20, 80%);
}

/* fonts */

@font-face {
  font-family: "Mulish";
  src: local(var(--font-additional-path)) format("ttf")
    url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
}

/* shared classes */

.container {
  width: 100%;
}

.container.full {
  height: 100%;
}

.fixed {
  position: fixed;
}

.h40 {
  height: 40px;
}

.overflow-content {
  overflow-x: auto;
}

.overflow-content::-webkit-scrollbar {
  height: 5px;
}

.overflow-content::-webkit-scrollbar-track {
  background-color: rgb(250, 192, 20, 35%);
  border-radius: 10px;
}

.overflow-content::-webkit-scrollbar-thumb {
  background-color: var(--alternative-color);
  border-radius: 10px;
}

.overflow-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(250, 192, 20, 80%);
}

/* wrapper */

.wrapper {
  padding: 0 var(--horizontal-wrapper-padding);
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper.fill {
  background-color: var(--main-color);
}

.wrapper.max-height {
  height: 100%;
}

.wrapper.small {
  max-width: 880px;
  margin: 0 auto;
}
