/* genre page */
@import "../../scss/mixins.scss";

.genre {
  &__page {
    padding: 25px 0;
  }

  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    @include adaptiveFont(26, 24);
    color: #fff;
  }

  &__sort {
    margin: 20px 0;
  }
}
