/* header styles */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 0;
}

.header__overlay {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 999;
}

.menu-burger {
  visibility: hidden;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.menu-burger img {
}

.menu {
  width: 100%;
}

.menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.menu__item {
  width: 100%;
}

.menu__item a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu__item a:hover .menu__icon.selections {
  color: var(--additional-color);
}

.menu__item a:hover .menu__icon.favorite {
  color: var(--additional-color-4);
}

.menu__icon {
  height: 20px;
  color: var(--text-color);
  transition: all 400ms;
}

.menu__title {
  font-family: var(--font-additional), sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
}

.header__search {
  min-width: 230px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.search {
  height: 50px;
  padding: 0 20px;
  background-color: rgb(0, 114, 187, 50%);
  border: 2px solid var(--text-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search__icon {
  height: 22px;
}

.search__input {
  width: 100%;
  position: relative;
}

.search__input input {
  background: transparent;
}

.search__input label {
  overflow: hidden;
  position: absolute;
  top: 3px;
  left: 0;
}

.search__input.focus label {
  display: none;
}

.search__input .search__input-query,
label,
input {
  font-family: var(--font-additional);
  font-size: 18px;
  color: var(--text-color);
  font-weight: 400;
}

.search__input span {
  font-weight: 700;
}

.search__input::placeholder {
  color: var(--text-color);
  font-weight: 700;
}

.search__input::placeholder::first-line {
  font-weight: 400;
}

.profile__row {
  display: flex;
  align-items: center;
}

.avatar {
  gap: 6px;
}

.profile__avatar {
  border-radius: 50%;
  height: 50px;
}

.profile__name {
  font-family: var(--font-main) sans-serif;
  font-weight: 500;
  font-size: 20px;
}

/* responsive */

@media screen and (max-width: 1125px) {
  .search__input-query,
  .menu__title {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .header__menu,
  .header__search,
  .header__profile {
    display: none;
  }
  .menu-burger,
  .sidenav {
    visibility: visible;
  }
}

/* responsive fonts */
