@import "../../../scss/mixins.scss";

/* saved page */

.saved {
  &__cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(
      4,
      minmax(var(--min-width-card), var(--max-width-card))
    );
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__card {
    max-width: 205px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &-title {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--text-color);
      @include adaptiveFont(18, 16);
    }

    &:hover {
      .saved__card-title {
        text-decoration: underline;
      }
    }
  }
}

/* responsive */

@media screen and (max-width: 1220px) {
  .saved__cards {
    grid-template-columns: repeat(
      3,
      minmax(var(--min-width-card), var(--max-width-card))
    );
    justify-content: center;
  }
}

@media screen and (max-width: 990px) {
  .saved__cards {
    grid-template-columns: repeat(
      2,
      minmax(var(--min-width-card), var(--max-width-card))
    );
  }
}

@media screen and (max-width: 350px) {
  .saved__cards {
    grid-template-columns: repeat(
      1,
      minmax(var(--min-width-card), var(--max-width-card))
    );
  }
}
