@import "../../../scss/mixins.scss";

/* favorite page */

.favorite {
  &__cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(
      5,
      minmax(var(--min-width-card), var(--max-width-card))
    );
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__card {
    position: relative;

    button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

/* responsive */

@media screen and (max-width: 1220px) {
  .favorite__cards {
    grid-template-columns: repeat(
      3,
      minmax(var(--min-width-card), var(--max-width-card))
    );
    justify-content: center;
  }
}

@media screen and (max-width: 990px) {
  .favorite__cards {
    grid-template-columns: repeat(
      2,
      minmax(var(--min-width-card), var(--max-width-card))
    );
  }
}

@media screen and (max-width: 350px) {
  .favorite__cards {
    grid-template-columns: repeat(
      1,
      minmax(var(--min-width-card), var(--max-width-card))
    );
  }
}
